{% extends 'master_layout.html' %}
{% load static %}
{% block main %}
    <div class='wrapper'>
       <!-- Navbar -->
        {% include 'navbar.html' %}
        <!-- End Navbar -->
        <div class="main-panel">
            {% include 'topbar.html' %}
            <div class="content">
                <center> <h3> Device Manupulation will be here </h3> <center>
            </div>

            <!-- Footer -->
            {% include 'footer.html' %}
            <!-- End Footer -->
        </div>
    </div>
{% endblock main %}